name: Order Service Build

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t my-node-app ./order-service

      - name: Save Docker Image as tar
        run: docker save order-service:v1 -o my-node-order.tar

      - name: Upload Docker Image Artifact
        uses: actions/upload-artifact@v4
        with:
         name: my-node-order-image
         path: my-node-order.tar
    
